<div class="ui grid">
  <div class="left floated sixteen wide column">
    <h1>Listing articles</h1>
  </div>
</div>

<div class="ui segment blue">
  <%= link_to 'My Blog', controller: 'articles', class: "ui blue basic button" %>
  <%= link_to 'New article', new_article_path, class: "ui blue basic button", remote: true %>

  <table class="ui large striped celled blue table">
    <thead>
    <tr>
      <th class="center aligned four wide">Title</th>
      <th class="center aligned four wide">Text</th>
      <th class="center aligned four wide">Operation</th>
    </tr>
    </thead>
    <tbody>
    <%= render partial: "list", collection: @articles, as: :article %>
    </tbody>
  </table>
  <%= page_entries_info(@articles) %>
  <%= paginate @articles %>
</div>